
/* Estructura General*/
*{
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    padding: 0 50px;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    color:#fff;
}
.Menu a{
    text-transform: uppercase;
    padding: 0 10px;
    text-decoration: none;
    color: #fff;
}
.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}
.mostrar-menu{
    order: 1;
}
.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: #FFE4C4;
}
#check{
    display: none;
}
body {
    margin: 0;
position: relative;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
     min-height: 100vh;
      background-color: #FFE4C4;
      padding-bottom: 40px;
    }
    footer {
        background-color: #333;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        text-align: center;
        position: absolute;
        height: 40px;
        justify-content: center;
        align-items: center;
        bottom: 0;
        width: 100%;
        color:#fff;
       
    }
/* Index*/
.TxtPrin{
    position: relative;
    text-align: justify;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 70px;


}
.TxtPrin p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.FotosPrinci {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 20px;                   
   
}
.FotosPrinci img{
    width: 345px; 
    height: 240px;
    margin-right: 20px;
    border-radius: 10px;
}
/* Proyectos */

.Logo img {
    width: 95px; 
    height: 85px; 
    left: 20px;
}
.TxtPro{
    font-size: 16px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.TxtP{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.CarruselFotos img{
    position: relative;
    width: 345px; 
    height: 240px;
    gap: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.CarruselFotos{
    position: relative;
    max-width: 1000px;
    margin:  0 auto;
    height: 240px;
    width: 345px;
}
.CarruselSlide{
    display: flex;
    aspect-ratio: 16/9;
    overflow: hidden;
    scroll-snap-align: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 .25rem .5rem #21212126;
    border-radius: .5rem;
}
.CarruselSlide img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;

}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 3.5rem;
    left: 50%;
    transform:  translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: .75;
    transition: opacity ease 250ms;

}
.slider-nav:hover{
    opacity: 100%;
}
/* Sobre Nosotros */
.EstilosDiv{
    border: solid 2 px;
    padding: 25px;
    display: flex;
    font-size: 14px;

}
.ContenedorInfo li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: justify;
}
.ContenedorInfo{
   margin-top: 60px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
}

#Iconos{
    padding: 0px 50px;
    margin-bottom: 30px;
}

#Iconos img{
    height:48px ;
    width:49px ;
}

#Contenido-Iconos{
    align-items: flex-end;
    padding: 50px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}


/* Responsive */
@media(max-width: 480px){
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }
    .Menu{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }
    .Menu a{
        display: block;
        padding:20px;

    }
.esconder-menu{
    position: absolute;
    top: 40px;
    right: 40px;
}
#check:checked ~ .Menu{
    right: 0;
}
/* Index */
.FotosPrinci{
    flex-direction:column ; 
    display: flex;
  position: relative;
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
}
.FotosPrinci img{
    width: 80%;
    height: auto;
}
.TxtPrin{
    display: flex;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
}
.EstilosDiv{
    flex-direction:  column;
    margin-top: 25px;
    
}
#Contenido-Iconos{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 15px 15px 10px 0px;
}
footer{
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    text-align: center;
    position: absolute;
    height: 40px;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    color:#fff; 
}
}
